<div class="jumbotron">
  <h1>Six Degrees of Superheroes</h1>
  <p>Want to see how your favorite superheroes are connected?</p>
  <p><%= button_to "Get Started", new_connection_path,
                                  method: :get,
                                  class: "btn btn-danger btn-lg" %></p>
</div>
