.superheroes {
  background-image: image-url("The_Marvel_Universe.png");
  min-height: 800px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.jumbotron h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 72px;
  color: #d9534f;
}

.jumbotron {
    background-color: rgba(250, 250, 250, .8);
}

#cy {
  height: 90%;
  width: 90%;
  position: absolute;
  // left: 0;
  // top: 0;
}

.graph {
  min-height: 400px;
}
