.superheroes {
  background-image: image-url("The_Marvel_Universe.png");
  min-height: 800px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.navbar-default {
    background-color: #d9534f;
}

.navbar {
    min-height: 100px;
    margin-bottom: 0px;
}

.jumbotron h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 72px;
  color: #d9534f;
}

.jumbotron {
    background-color: rgba(250, 250, 250, .7);
}

#cy {
  height: 90%;
  width: 90%;
  position: absolute;
}

.graph {
  min-height: 400px;
}

.navbar-nav > li {
  float: none;
}

.navbar-right {
  margin-right: 0px;
}

.navbar-nav {
    margin: 20px;
}

ul.nav.navbar-nav.navbar-right.search {
    font-size: 20px;
}
