.superheroes {
  background-image: image-url("The_Marvel_Universe.png");
  min-height: 800px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.jumbotron h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 72px;
  color: #d9534f;
}

.jumbotron {
    background-color: rgba(250, 250, 250, .8);
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
